workflows/test-harness.json
{
	"name": "Test Harness",
	"nodes": [
		{
			"parameters": {
				"workflowId": {
					"__rl": true,
					"value": "={{ $json.body.workflow_id }}",
					"mode": "id"
				},
				"workflowInputs": {
					"mappingMode": "defineBelow",
					"value": "={{ $json.body.data }}"
				}
			},
			"name": "Execute Workflow",
			"type": "n8n-nodes-base.executeWorkflow",
			"typeVersion": 1.2,
			"position": [448, 48],
			"id": "execute-workflow",
			"onError": "continueRegularOutput"
		},
		{
			"parameters": {
				"respondWith": "json",
				"responseBody": "={{ $json }}"
			},
			"name": "Respond to Webhook",
			"type": "n8n-nodes-base.respondToWebhook",
			"typeVersion": 1.1,
			"position": [672, 48],
			"id": "respond-to-webhook"
		},
		{
			"parameters": {
				"jsCode": "const body = $input.first().json.body;\n\nif (!body?.workflow_id) {\n  return { error: 'Missing workflow_id in request body' };\n}\n\nreturn { workflow_id: body.workflow_id, data: body.data || {} };"
			},
			"name": "Prepare Input",
			"type": "n8n-nodes-base.code",
			"typeVersion": 2,
			"position": [224, 48],
			"id": "prepare-input"
		},
		{
			"parameters": {
				"httpMethod": "POST",
				"path": "test-harness",
				"responseMode": "responseNode",
				"options": {}
			},
			"name": "Webhook",
			"type": "n8n-nodes-base.webhook",
			"typeVersion": 2.1,
			"position": [0, 48],
			"id": "webhook",
			"webhookId": "test-harness"
		}
	],
	"connections": {
		"Prepare Input": {
			"main": [[{ "node": "Execute Workflow", "type": "main", "index": 0 }]]
		},
		"Execute Workflow": {
			"main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
		},
		"Webhook": {
			"main": [[{ "node": "Prepare Input", "type": "main", "index": 0 }]]
		}
	},
	"settings": {
		"executionOrder": "v1"
	}
}
